.logo-text-section {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.container-menu-dash {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 60px;
  background: #2500ff;
  border-radius: 15px;
  width: 255px;
  height: 64px;
  color: white;
  justify-content: center;
  transition: 0.5s;
}

.container-menu-leaderboard {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  border-radius: 15px;
  width: 255px;
  height: 64px;
  color: #737791;
  justify-content: center;
  transition: 0.5s;
}


.container-menu-leaderboard h2 { 
  font-weight: 400;
}

.container-menu-dash:hover {
  background-color: #0095ff;
  cursor: pointer;
}

.aside-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-between;
}

.container-card-experience {
  background-color: #2500ff;
  border-radius: 15px;
  width: 238px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  justify-content: space-between;


}

.container-card-experience p { 
  text-align: justify;
  color: #FFFFFF; 
  opacity: 80%;
}



.xp-icon {
  width: 48px;
  height: 48px;
}

.xp-btn { 
  width: 136px;
  height: 40px;
  border-radius: 10px;
  color: blue; 
  font-weight: bold;
}