.container-card {
  width: 180px;
  height: 184px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-evenly;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-text h1 {
  font-size: 25px;
}

.container-text h2 {
  font-size: 15px;
  color: #425166;
}

.container-text p {
  color: #4079ed;
  font-weight: 500;
  font-size: 13px;
}


.section-cards { 
  display: flex;
  gap: 30px; 
}